<div class="gap-4">
  <%= render partial: "content/content_display/chats_display/new_chatroom", locals: { new_chat_user: new_chat_user } %>
  <% chatrooms.each do |chatroom| %>
    <%= render partial: "content/content_display/chats_display/chatroom", locals: { chatroom_name: "Chatroom #{chatroom.id}", new_chat_user: new_chat_user, chatroom: chatroom, friends: friends } %>
  <% end %>
</div>
