<div class="flex h-full bg-gray-200">
    <div class="w-64 mt-8 mr-4 mb-8 ml-8">
        <%= render "sidebar/sidebar" %>
    </div>
    <div class="flex-1 mt-8 mr-8 mb-8 ml-4">
        <%= render "content/content" %>
    </div>
</div>
